<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
  <link href="/stylesheets/datepicker.css" rel="stylesheet" />
</head>
<body>

  <h1><%= title %></h1>

  <form class="form-horizontal" action="add_patient" enctype="multipart/form-data" method="POST">
    <div class="form-group">
      <label class="control-label col-sm-4" for="first_name">Frist Name:</label>
      <div class="col-sm-5">
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first name">
      </div>
    </div>
    <br/>
  
    <div class="form-group">
      <label class="control-label col-sm-4">Last Name:</label>
      <div class="col-sm-5">
          <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter last name">
      </div>
    </div>

    <br/>

    <div class="form-group">
      <label class="control-label col-sm-4">Birth Date:</label>
      <div class="col-sm-2">
          <input type="text" class="form-control" id="birth_date" name="birth_date" placeholder="Select brith date">
      </div>

      <label class="control-label col-sm-1" for="gender">Gender:</label>
      <div class="col-sm-2">
        <label class="radio-inline"><input type="radio" id="gender_male" name="gender_male" checked>Male</label>
        <label class="radio-inline"><input type="radio" id="gender_female" name="gender_female">Female</label>
      </div>
    </div>

    <br/>
    
    <div class="form-group">
      <label class="control-label col-sm-4" for="address">Address:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
      </div>
    </div>

    <br/>

    <div class="form-group">
      <label class="control-label col-sm-4" for="phone">Phone Number:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Enter phone">
      </div>

      <label class="control-label col-sm-1" for="ssn">SSN:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="ssn" name="ssn" placeholder="Enter SSN">
      </div>
    </div>

    <br/>
    
    <div class="form-group">
      <label class="control-label col-sm-4" for="username">Username:</label>
      <div class="col-sm-2"> 
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      </div>

      <label class="control-label col-sm-1" for="pwd">Password:</label>
      <div class="col-sm-2"> 
        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
      </div>
    </div>

    <br/>

    <div class="form-group">
      <label class="control-label col-sm-4" for="repeat_password">Repeat Password:</label>
      <div class="col-sm-2"> 
        <input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="Re-enter password">
      </div>

      <label class="control-label col-sm-1" for="images">5 Images:</label>
      <div class="control-label col-sm-1">
        <input type="file" name="myImages" multiple id="myImages" class="form-control-file border" onchange="addImages(this.files)"/>
      </div>
    </div>

    <br>

    <div class="form-group">
      <label class="control-label col-sm-4" for="list_images">List images:</label>
      <div class="table-responsive col-sm-5">  
        <table class="table" id="list_images">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Type</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-group"> 
      <div class="col-sm-offset-5 col-sm-12">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
    </div>

  </form>

  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/bootstrap-datepicker.js"></script>
  <script src="/javascripts/add-patient-js.js"></script>

</body>
</html>
